extends layout
block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      p
        | LOC8r was created to help people find places to sit down and get a bit of work done.
        | <br /><br />
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem ac nisi dignissim accumsan. Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi sint dignissimos doloribus placeat esse molestiae cumque odio tempora quo nemo! Deserunt doloremque eligendi autem non minima neque quidem harum voluptates! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis officiis et incidunt. Alias corporis rerum nemo voluptate sit libero id illo molestias. Facilis ab nobis labore cum voluptatem quis repellendus. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        | <br /><br />
        | At eaque, necessitatibus dolores deserunt iste assumenda tenetur mollitia? Unde atque quae harum vitae quasi, est provident? Et voluptate id magni saepe? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium itaque eaque, nam, facilis quaerat aperiam dolor mollitia praesentium unde impedit ut dolorum alias adipisci corrupti excepturi ducimus fugiat deleniti eum.
        | <br /><br />
        | At eaque, necessitatibus dolores deserunt iste assumenda tenetur mollitia?Unde atque quae harum vitae quasi, est provident? Et voluptate id magni 